<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Vasily Esipenko">
        <meta name="description" content="Todo List application">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <title>Todo List</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div class="about">
            <h1 class="about-header">Todo List</h1>
            <div class="about-descr">
                <p>Todo list web application with Vue.js</p>
            </div>
        </div>
        <div id="app">

            <input type="text" placeholder="Enter your todo" v-model="taskItem" @keyup.enter="add()"><button class="add" @click="add()">Add</button>
            <h2 class="app-header">Current tasks:</h2>

            <div v-if="tasks.length>0">
                <div class="tasks" v-for="todo in tasks">
                    <div class="task-item">
                        <div class="task-inner">
                                <div class="complete" @click="complete(todo.id-1)"><i class="far fa-check-square"></i></div>
                                <div class="task-text"><span>{{todo.id}}</span> {{todo.task}}</div>
                                <div class="delete" @click="delete(todo.id-1)"><i class="fas fa-ban"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>{{zeroTasks}}</div>

        </div>
        <script src="https://kit.fontawesome.com/c1c239f91b.js" crossorigin="anonymous"></script>
        <script text="text/javascript" charset="utf-8" src="app.js"></script>
    </body>
</html>
