body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;

    font-family:'Source Sans Pro', sans-serif;
    font-size: 18px;

    box-sizing: border-box;
}

a, i {
    text-decoration: none;
}

/*About*/
.about {
    margin: 30px auto;
    padding: 10px;

    text-align: center;
}

.about::after {
    display: block;
    content: "";
    height: 2px;
    width: 40%;
    margin: 30px auto;
    background-color: #333;
    
}

.about-header {
    font-size: 42px;
    color: #009966;
}

.about-descr {
    font-size: 20px;
    font-style: italic;
    font-weight: 350;
    color: #555;
}

/*App*/
#app {
    margin: 0 auto;
    text-align: center;
}

/*Text input*/
input[type="text"] {
    margin: 15px auto;
    padding: 5px 14px;

    border: 2px solid #009966;
    background-color: #fafafa;
    color: #333;
    font-size: 22px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::placeholder {
    color: #888;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
}

/*Add btn*/
.add {
    margin: 14px auto;
    padding: 4px 14px;

    border: 2px solid #009966;
    background-color: #009966;
    color: #fafafa;
    font-size: 22px;

    transition: opacity .2s linear;
    font-family: 'Source Sans Pro', sans-serif;
}

.add:hover {
    cursor: pointer;
    opacity: .8;
}

.add:focus {
    outline: none;
}

/*Tasks*/
.tasks {
    margin: 10px auto;
}

.task-item {
    position: relative;
    margin: 45px auto;
    padding: 15px 30px;
    width: 80%;
    border: 1px solid #333;
    border-radius: 12px;
}

.task-inner {
    display: inline-block;
}

.complete {
    position: absolute;
    left: 13%;
    transform: translateY(-10%);
    font-size: 32px;
    color: #333;
    cursor: pointer;
    transition: color .1s linear;
}

.complete:hover {
    color: #009966;
}

.delete {
    position: absolute;
    right: 13%;
    transform: translateY(-80%);
    font-size: 32px;
    color: #f22;
    cursor: pointer;
    transition: opacity color .1s linear;
}

.delete:hover {
    color: #f33;
    opacity: .8;
}

.task-text {
    font-size: 22px;
}

.task-text span {
    margin-right: 10px;
    font-weight: 600;
}
